<a href="https://colab.research.google.com/github/vkjdinesh/Machine-Learning-Algorithms/blob/main/Unit2Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Scikit Learn**

In [2]:
import sklearn #machine learning
import numpy as np # computations
import pandas as pd # Data management

1. Load the dataset
2. Dimensions
3. Check the variable(Numerical / categorical)
4. Missing values
5. Find out the the percentage of missing values
6. Replace 
7. fillup the missing values
8. Create the rows and add it with the original dataset
9. choose the exact rows from the dataset
10. Rename the columns
11. Find the min, max, sum, count
12. delete the rows and columns
13. unique values

In [3]:
#1. Load the dataset
dataset = pd.read_csv("https://raw.githubusercontent.com/datasets/covid-19/main/data/time-series-19-covid-combined.csv")
dataset.head(5)

         Date Country/Region Province/State  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN          0        0.0       0
1  2020-01-23    Afghanistan            NaN          0        0.0       0
2  2020-01-24    Afghanistan            NaN          0        0.0       0
3  2020-01-25    Afghanistan            NaN          0        0.0       0
4  2020-01-26    Afghanistan            NaN          0        0.0       0

In [3]:
#dimension : rows, columns
dataset.shape

(231744, 6)

In [4]:
#describe the dataset
dataset.describe()

          Confirmed     Recovered         Deaths
count  2.317440e+05  2.186880e+05  231744.000000
mean   5.132362e+05  1.062116e+05    9760.170231
std    3.002239e+06  8.397413e+05   49749.871513
min    0.000000e+00  0.000000e+00       0.000000
25%    2.590000e+02  0.000000e+00       2.000000
50%    5.725000e+03  5.500000e+01      73.000000
75%    1.095645e+05  5.002000e+03    1777.000000
max    8.062512e+07  3.097475e+07  988609.000000

In [7]:
#Check the variable(Numerical / categorical)
numerical_variable = dataset.columns[dataset.dtypes !=  'object']
dataset[numerical_variable].head(5)

categorical_variable = dataset.columns[dataset.dtypes ==  'object']
dataset[categorical_variable].head(5)

         Date Country/Region Province/State
0  2020-01-22    Afghanistan            NaN
1  2020-01-23    Afghanistan            NaN
2  2020-01-24    Afghanistan            NaN
3  2020-01-25    Afghanistan            NaN
4  2020-01-26    Afghanistan            NaN

In [8]:
dataset[numerical_variable].head(5)

   Confirmed  Recovered  Deaths
0          0        0.0       0
1          0        0.0       0
2          0        0.0       0
3          0        0.0       0
4          0        0.0       0

In [9]:
dataset[categorical_variable].head(5)

         Date Country/Region Province/State
0  2020-01-22    Afghanistan            NaN
1  2020-01-23    Afghanistan            NaN
2  2020-01-24    Afghanistan            NaN
3  2020-01-25    Afghanistan            NaN
4  2020-01-26    Afghanistan            NaN

In [13]:
#Missing values
dataset.isnull().head(5)
dataset[numerical_variable].isnull().head(5)
dataset[categorical_variable].isnull().head(5)

#False - No missing values
#true = we have the missing values

    Date  Country/Region  Province/State
0  False           False            True
1  False           False            True
2  False           False            True
3  False           False            True
4  False           False            True

In [14]:
#Find out the the percentage of missing values
len(dataset)

231744

In [19]:
dataset.isnull().sum()/len(dataset)
dataset[numerical_variable].isnull().sum()
dataset[numerical_variable].isnull().sum()/len(dataset)

Confirmed    0.000000
Recovered    0.056338
Deaths       0.000000
dtype: float64

In [21]:
#Replace
dataset.fillna('KIT')

              Date Country/Region Province/State  Confirmed Recovered  Deaths
0       2020-01-22    Afghanistan            KIT          0       0.0       0
1       2020-01-23    Afghanistan            KIT          0       0.0       0
2       2020-01-24    Afghanistan            KIT          0       0.0       0
3       2020-01-25    Afghanistan            KIT          0       0.0       0
4       2020-01-26    Afghanistan            KIT          0       0.0       0
...            ...            ...            ...        ...       ...     ...
231739  2022-04-12       Zimbabwe            KIT     247094       0.0    5460
231740  2022-04-13       Zimbabwe            KIT     247160       0.0    5460
231741  2022-04-14       Zimbabwe            KIT     247208       0.0    5462
231742  2022-04-15       Zimbabwe            KIT     247237       0.0    5462
231743  2022-04-16       Zimbabwe            KIT     247237       0.0    5462

[231744 rows x 6 columns]

In [32]:
dataset['Confirmed'].replace(0, 1)
dataset.replace(0, "KIT")
dataset['Confirmed'].replace([0, 1],['KIT',0]).head(15)

0     KIT
1     KIT
2     KIT
3     KIT
4     KIT
5     KIT
6     KIT
7     KIT
8     KIT
9     KIT
10    KIT
11    KIT
12    KIT
13    KIT
14    KIT
Name: Confirmed, dtype: object

In [35]:
#Create the rows and add it with the original dataset
#values of variable, instructions about the variable
row_insert = pd.Series(['2022-05-20','Cambodia','TTY', 2000, 500, 0 ], index = ['Date', 'Country/Region', 'Province/State', 'Confirmed', 'Recovered', 'Deaths'])
dataset.append(row_insert, ignore_index=True)

              Date Country/Region Province/State  Confirmed  Recovered  Deaths
0       2020-01-22    Afghanistan            NaN          0        0.0       0
1       2020-01-23    Afghanistan            NaN          0        0.0       0
2       2020-01-24    Afghanistan            NaN          0        0.0       0
3       2020-01-25    Afghanistan            NaN          0        0.0       0
4       2020-01-26    Afghanistan            NaN          0        0.0       0
...            ...            ...            ...        ...        ...     ...
231740  2022-04-13       Zimbabwe            NaN     247160        0.0    5460
231741  2022-04-14       Zimbabwe            NaN     247208        0.0    5462
231742  2022-04-15       Zimbabwe            NaN     247237        0.0    5462
231743  2022-04-16       Zimbabwe            NaN     247237        0.0    5462
231744  2022-05-20       Cambodia            TTY       2000      500.0       0

[231745 rows x 6 columns]

In [44]:
#call the row
#datasetname.iloc[] - we can call the specific row based on the index
dataset.iloc[0]
dataset.iloc[1:5]
dataset.iloc[1:6]
dataset.iloc[ :7]

         Date Country/Region Province/State  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN          0        0.0       0
1  2020-01-23    Afghanistan            NaN          0        0.0       0
2  2020-01-24    Afghanistan            NaN          0        0.0       0
3  2020-01-25    Afghanistan            NaN          0        0.0       0
4  2020-01-26    Afghanistan            NaN          0        0.0       0
5  2020-01-27    Afghanistan            NaN          0        0.0       0
6  2020-01-28    Afghanistan            NaN          0        0.0       0

In [48]:
#loc - to cal the specific values, 
#index
dataset = dataset.set_index(dataset['Country/Region'])
dataset.loc['India']

,Date,Country/Region,Province/State,Confirmed,Recovered,Deaths
Country/Region,,,,,,
India,2020-01-22,India,NaN,0,0.0,0
India,2020-01-23,India,NaN,0,0.0,0
India,2020-01-24,India,NaN,0,0.0,0
India,2020-01-25,India,NaN,0,0.0,0
India,2020-01-26,India,NaN,0,0.0,0
...,...,...,...,...,...,...
India,2022-04-12,India,NaN,43038016,0.0,521736
India,2022-04-13,India,NaN,43039023,0.0,521737
India,2022-04-14,India,NaN,43039972,0.0,521743
India,2022-04-15,India,NaN,43040947,0.0,521747
India,2022-04-16,India,NaN,43042097,0.0,521751

In [50]:
#rename
dataset.rename(columns={'Country/Region' : 'Country'}).head(5)

         Date      Country Province/State  Confirmed  Recovered  Deaths
0  2020-01-22  Afghanistan            NaN          0        0.0       0
1  2020-01-23  Afghanistan            NaN          0        0.0       0
2  2020-01-24  Afghanistan            NaN          0        0.0       0
3  2020-01-25  Afghanistan            NaN          0        0.0       0
4  2020-01-26  Afghanistan            NaN          0        0.0       0

In [4]:
print('Sum:', dataset['Deaths'].max())
dataset

Sum: 988609

              Date Country/Region Province/State  Confirmed  Recovered  Deaths
0       2020-01-22    Afghanistan            NaN          0        0.0       0
1       2020-01-23    Afghanistan            NaN          0        0.0       0
2       2020-01-24    Afghanistan            NaN          0        0.0       0
3       2020-01-25    Afghanistan            NaN          0        0.0       0
4       2020-01-26    Afghanistan            NaN          0        0.0       0
...            ...            ...            ...        ...        ...     ...
231739  2022-04-12       Zimbabwe            NaN     247094        0.0    5460
231740  2022-04-13       Zimbabwe            NaN     247160        0.0    5460
231741  2022-04-14       Zimbabwe            NaN     247208        0.0    5462
231742  2022-04-15       Zimbabwe            NaN     247237        0.0    5462
231743  2022-04-16       Zimbabwe            NaN     247237        0.0    5462

[231744 rows x 6 columns]

In [6]:
#delete col
dataset.drop('Province/State', axis=1).head(5)
dataset.drop(dataset.columns[1], axis=1)

              Date Province/State  Confirmed  Recovered  Deaths
0       2020-01-22            NaN          0        0.0       0
1       2020-01-23            NaN          0        0.0       0
2       2020-01-24            NaN          0        0.0       0
3       2020-01-25            NaN          0        0.0       0
4       2020-01-26            NaN          0        0.0       0
...            ...            ...        ...        ...     ...
231739  2022-04-12            NaN     247094        0.0    5460
231740  2022-04-13            NaN     247160        0.0    5460
231741  2022-04-14            NaN     247208        0.0    5462
231742  2022-04-15            NaN     247237        0.0    5462
231743  2022-04-16            NaN     247237        0.0    5462

[231744 rows x 5 columns]

In [7]:
#delete row
dataset.drop([1], axis =0)

              Date Country/Region Province/State  Confirmed  Recovered  Deaths
0       2020-01-22    Afghanistan            NaN          0        0.0       0
2       2020-01-24    Afghanistan            NaN          0        0.0       0
3       2020-01-25    Afghanistan            NaN          0        0.0       0
4       2020-01-26    Afghanistan            NaN          0        0.0       0
5       2020-01-27    Afghanistan            NaN          0        0.0       0
...            ...            ...            ...        ...        ...     ...
231739  2022-04-12       Zimbabwe            NaN     247094        0.0    5460
231740  2022-04-13       Zimbabwe            NaN     247160        0.0    5460
231741  2022-04-14       Zimbabwe            NaN     247208        0.0    5462
231742  2022-04-15       Zimbabwe            NaN     247237        0.0    5462
231743  2022-04-16       Zimbabwe            NaN     247237        0.0    5462

[231743 rows x 6 columns]

In [11]:
dataset['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'MS Zaandam', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)